.accordion {
	min-height: 100px;
	max-height: 500px;
	margin-bottom: 5px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	transition: min-height 250ms, max-height 250ms;
}

.accordionClose {
	min-height: 32px;
	max-height: 32px;
}

.accordionButton {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	padding: 2px 10px 0px 10px;
	background-color: #fafafa;
	border: 0px;
	text-align: left;
	cursor: pointer;
}

.accordionTitle {
	display: flex;
	align-items: center;
	transition: transform 250ms;
	color: #808080;
}

.accordionSpinnerBox {
	padding-top: 10px;
	transform: rotate(0deg);
	transition: all 250ms;
}


.accordionClose .accordionSpinnerBox {
	transform: rotate(-180deg);
	padding-top: 13px;
}

.accordionSpinner {
	width: 10px;
	height: 10px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	transform: rotate(45deg);
}

.accordionContent {
	margin: 10px;
	min-height: 10px;
	max-height: 450px;
	overflow: auto;
}